<form autocomplete="off" onsubmit="event.preventDefault()">
  <div class="tableDiv">
    <input type="text" class="search-filter empty" />
    <style id="searchStyle">
      .tableDiv > #searchStyle + table tr {
        display: none;
      }
      .tableDiv > .search-filter.empty + #searchStyle + table tr,
      .tableDiv > #searchStyle + table tr:first-of-type,
      .tableDiv > #searchStyle + table tr[data-actor*=/* search-start */""/* search-end */] {
        display: initial;
      }
    </style>
    <table>
      <tr>
        <th>Name</th>
      </tr>
      {{#each actors}}
      <tr data-actor="{{this.name}}">
        <td>
          <input type="checkbox" id="{{this.id}}" value="{{this.id}}" name="{{this.id}}" {{checked this.checked}} />
          <label for="{{this.id}}">{{this.name}}</label>
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
  <div class="bottomButtons">
    <button type="submit">{{localize "SETTINGS.Save"}}</button>
    <button type="button" class="cancelButton">{{localize "Cancel"}}</button>
  </div>
</form>
