<form autocomplete="off" onsubmit="event.preventDefault()">
  <div class="custom-editor-border">
    <h2>{{localize "streamUtils.windows.CustomEditor.app.css"}}</h2>
    <div class="editor" id="cssEditor"></div>
    <h2>{{localize "streamUtils.windows.CustomEditor.app.entries"}}</h2>
    <div class="editor" id="jsonEditor"></div>
  </div>

  <div class="buttonDiv">
    <button type="button" class="help-button" onclick="window.open('https://github.com/ardittristan/VTTStreamUtils/blob/master/docs/example.md', '_blank')">{{localize "streamUtils.windows.CustomEditor.app.help"}}</button>
    <button type="button" class="save-button">{{localize "SETTINGS.Save"}}</button>
  </div>
</form>
